
  .menu-containerB {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu-triggerB {
    background: transparent;
    border-radius: 90px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    vertical-align: middle;
    margin-left: 20px;
  }
  
  .menu-triggerB:hover {
  }
  
  .menu-triggerB span {
    vertical-align: middle;
    font-size: 20px;
    margin: 0 10px;
    color: #000000;
    letter-spacing: -1pt;
  }
  
  .menuboxB {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 60px;
    right: 0;
    width: 130px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  }
  
  .menuboxB.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .menuboxB ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menuboxB li a {
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block;
  }
  