.menu-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    color: black;
    opacity: 0.5;
}

.top-cont {
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.Top {
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
    z-index: 3;

    position: fixed;

    width: 100%;

    box-sizing: border-box;

}

.top-logo-cont {
    width: 175px;
    display: inline;
}

.top-logo {
    width: 100%;
    height: auto;
}

.menu {
    display: flex;
}

.menu>a {
    font-size: 20px;
    margin-left: 35px;
    text-decoration: none;
}

.mobile-menu-icon {
    display: none;
    font-size: 20px;
    width: 20px;

    cursor: pointer;
}

.mobile-close-icon {
    display: none;
    font-size: 40px;
    width: 20px;
    z-index: 1;
    font-weight: 200;
    color: white;
    cursor: pointer;
}

.mobile-menu-cont {
    display: none;
    height: 100%;
}

.mobile-menu-fixed {
    position: fixed;
    display: none;
    background-color: #00000099;
    width: 100%;
    top: 0;
    right: 0;
    padding: 7.5%;
    height: 100%;
    font-size: 35pt;
    font-weight: 200;
    line-height: 1.5;
}


.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mobile-menu>a {
    text-decoration: none;
    color: white;
}

/* color */
.white .mobile-menu-icon {
    color: white;
}

.white .mobile-close-icon {
    color: white;
}

.white .menu>a {
    color: white;
}

.black .menu>a {
    color: black;
}

@media (max-width: 900px) {


    .menu {
        display: none;
    }


    .mobile-menu-icon {
        display: inline;
    }

    .mobile-menu-cont {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    .mobile-menu-fixed {
        display: none;
    }


}


@media (max-width: 576px) {


    .Top {
        padding: 0 8%;
        height: 90px;
    }


    .top-logo-cont {
        width: 40%;
        max-width: 140px;
    }

    .mobile-menu-fixed {
        padding: 10%;
    }
}