.notice {
    background: white;
    height: 100vh;
}


.p-main .bg-cont {

position: absolute;
left: 0;
width: 100%;
height: 100%;
background: black;
overflow-y: hidden;
}

.p-main {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.p-sub1 {
    width: 100%;
    height: 300vh;
    background-color: white;
}

.vert-line {
    border-left: 2px solid lightgray;
    height: 100px;
}


.p-title-sub > span {
    transform: rotate(-90deg);
    display: inline-block;
    transform-origin: left;
    font-size: 30px;
    font-weight: 600;
}

.p-title {
    display: flex;
    justify-content: center;
    padding-top: 20%;
}

.p-title-main {
    margin-top: -50px;

}

.p-title-main > span {
    FONT-SIZE: 60PX;
    FONT-WEIGHT: 700;
    margin-top: -100px;
}

.p-image {
    padding: 5% 10%;
    display: flex;
    justify-content: center;
}

.p-word {
    padding: 0 30%;
    display: flex;
    justify-content: center;
    FONT-SIZE: 30PX;
    text-align: center;
    word-break: keep-all;
    line-height: 2;
    font-weight: 300;
}

.p-cont3 {
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.p-cont3-title {
    font-size: 50px;
    font-weight: 600;
}

.p-cont3-sub {
    font-size: 25px;
    padding-top: 10%;
    line-height: 2;
    word-break: keep-all;
    width: 80%;
}

.p-cont3-image > img {
    padding: 0 10%;
    padding-top: 100px;
}

.p-sub2-table {
    background: #FFFFFF;
    border: 0.5px solid #C8C8C8;
    border-radius: 0px 0px 115px 0px;
    width: 300px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.p-sub2 {
    background: #EEEEEE;
}

.arrow-angle {
    height: 0;
    border-left: 25px solid #ada5ff;
    border-top: 12.5px solid transparent;
    border-bottom: 12.5px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.p-sub2-tables {
    DISPLAY: FLEX;
    justify-content: center;
    padding: 10% 10%;
}

.p-sub2-tables2 {
    padding: 0% 10%;
    DISPLAY: FLEX;
    justify-content: center;
}

.p-sub2-title {
    font-size: 30px;
    text-align: center;
    padding: 10%;
    font-weight: 600;
}

.p-sub2-sub {
    padding-right: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
}


.p-cont4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-cont4-title {
    font-size: 40px;
    font-weight: 600;
}

.p-cont4-sub {
    font-size: 25px;
    font-weight: 300;
    padding: 0 30%;
    text-align: center;
    line-height: 2;
    padding-top: 30px;
}

.p-sub3 Slide {
    display: flex;
}

.p-sub3-cont {
    display: flex;
}

.p-sub3-text {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.p-sub3-title {
    font-size: 60px;
    width: 70%;
    display: flex;
    padding: 0 40%;
}

.p-sub3-sub {
    font-size: 30px;
    width: 70%;
    display: flex;
    padding: 0 40%;
    margin-top: -400px;
    font-weight: 300;
}

.p-sub3-image {
    width: 40%;
    height: 100%;
    display: flex;
    margin-top: -150px;
    flex-direction: column;
    padding: 0 5%;
}

.p-sub3-button1 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 40px;
    position: relative;
    left: 55%;
    margin-top: -250px;
}
