@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@600&display=swap');

body {
    width: 100%;
    font-family: 'Pretendard';
    letter-spacing: -1pt;
    word-spacing: 1pt;
    word-break: keep-all;
}

::-webkit-scrollbar {
    display: none;
}

.Slide {
    height: 100vh;
}



.h-main {

    display: flex;
    align-items: center;
    justify-content: center;
    background: black;

    color: white;

}

.h-main .title {

    font-family: 'Noto Serif Display';
    font-size: 9rem;
}

.h-sub1 {

    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
}

.bg-line-cont {
    position: absolute;
    width: 70%;
}

.bg-line-cont>img {
    width: 100%;
    height: auto;

}

.h-sub1 .texts {


    display: flex;
    flex-direction: column;

    color: white;
}

.h-sub1 .title {
    font-size: 70px;
    text-align: center;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 20px;
}

.h-sub1 .content {
    font-size: 35px;

    text-align: center;

    line-height: 1.1;
}

.h-sub2 {

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.h-sub2 .bg-cont {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: black;
    overflow-y: hidden;
}

.h-sub2 .bg-cont .bg-ppl {
    width: 100%;
    height: auto;
}

.h-sub2 .texts {

    position: absolute;
    left: 300px;

    display: flex;
    flex-direction: column;

    text-align: left;
    color: white;
}

.h-sub2 .title {
    font-size: 70px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 20px;
}

.h-sub2 .content {
    font-size: 35px;


    line-height: 1.1;
}





.h-sub3 {

    color: black;
    overflow-y: auto;
}

.h-sub3 .text-cont {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.h-sub3 .texts {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.h-sub3 .title {
    font-size: 62px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 50px;
}

.h-sub3 .content {
    font-size: 35px;
    font-weight: 500;
    line-height: 1.1;
    margin-top: -20px;
}


.goto-shop {
    width: 100%;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h-thumb-cont {
    width: 30%;
    min-width: 400px;
    margin-bottom: 125px;

}

.h-thumb-cont>img {
    width: 100%;
    height: auto;
}

.h-down-cont {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


a.h-down-cont {

    text-decoration: none;
    color: black;

    font-size: 50pt;
    font-weight: 700;
    line-height: 1;
    text-align: center;

}

.h-down-imgcont {

    width: 70px;
    margin-bottom: 40px;

}

.h-down-imgcont>img {
    width: 100%;
    height: auto;

}